.header {
    text-align: center;
    font-size: 3rem;
    background-color: paleturquoise;
}

Button.logout-button {
    float: right;
    margin-top: 10px;
    margin-right: 25px;
}

Button.logout-button-mobile{
    display: none;
    float: right;
    margin-top: 10px;
    margin-right: 25px;
}

@media screen and (max-width: 600px)  {
    Button.logout-button-mobile{
        display: unset;
    }
    Button.logout-button {
        display: none;
    }
    
}