.card-wrapper {
    padding: 100px 50px;
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-image:url(../media/account.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.input-depenses-card{
    display: grid;
}

@media screen and (min-width: 1000px)  {
    .card-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .card.piechart {
        grid-column: 1 ;
        grid-row: 1;
        background-color: lightblue;
    }
    .card.account {
        grid-column: 2 ;
        grid-row: 1;
    }
    .card.input-data {
        grid-column: 2 / 3;
        grid-row: 2;
        background-color: lightblue;
    }
    .card.whatever {
        grid-column: 3;
        grid-row: 1;
        background-color: lightblue;
    }
}


@media screen and (max-width: 1000px)  {
    .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .card.piechart {
        grid-column: 2 ;
        grid-row: 2;
        background-color: salmon;
    }
    .card.account {
        grid-column: 1 ;
        grid-row: 1;
        background-color: salmon;
    }
    .card.input-data {
        grid-column: 1;
        grid-row: 2;
    }
    .card.whatever {
        grid-column: 2;
        grid-row: 1;
    }
}

@media screen and (max-width: 900px)  {
    .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .card.piechart {
        grid-column: 1 ;
        grid-row: 3;
        background-color: salmon;
    }
    .card.account {
        grid-column: 1 ;
        grid-row: 1;
        background-color: salmon;
    }
    .card.input-data {
        grid-column: 1;
        grid-row: 2;
    }
    .card.whatever {
        grid-column: 1;
        grid-row: 4;
    }
}
